@charset "UTF-8";
/* CSS Document 
Author Name: John Nguyen
Creation Date: November 4th, 2014
Course: OOSD Fall 2014
Description: A default stylesheet for the Travel Experts website, the first threaded project for the course with a focus on HTML, CSS, JavaScript, PHP & MySQL.
*/

@media screen and (max-width : 880px) {
    html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	   font-size: 12px;
    }
    .welcome h1 {
        font-size: 32px;
    }
    .logo {
        width: 280px;
        padding-left: 4px;
    }
    .nav {
        display: none;
        position: absolute;
        top: 62px;
        right: 0px;
        height: auto;
        width: auto;
        margin: 0px;
        padding: 0px;
        background-color: rgba(47, 115, 193, 0.9);
        z-index: 1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .nav li {
        display: block;
        padding: 7px 15px;
        margin: 0px;
    }
    .nav_mobile {
        display: block;
        right: 6px;
    }
    .nav_mobile:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    .style {
        margin: 0 10px;
    }
    .pkg_image {
        width: 100%;
        border-right: 0px;
        border-bottom: 3px solid #fff;
    }
    .pkg_image img {
        width: inherit;
        border-bottom-left-radius: 0px
    }
    .book_btn {
        font-size: 12px;
        bottom: 10px;
    }
    
}

@media screen and (max-width : 320px) {
    .header_wrap {
        width: 320px;
    }
}

@media screen and (min-width : 1170px) {
    .header, .welcome {
        width: 1170px;
        margin: 0 auto;
    }
}