@charset "UTF-8";
/* CSS Document 
Author Name: John Nguyen
Creation Date: November 4th, 2014
Course: OOSD Fall 2014
Description: A default stylesheet for the Travel Experts website, the first threaded project for the course with a focus on HTML, CSS, JavaScript, PHP & MySQL.
*/

@media screen and (max-width : 880px) {
    html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	   font-size: 12px;
    }
    .welcome h1 {
        font-size: 32px;
    }
    .logo {
        width: 280px;
        padding-left: 4px;
    }
    .nav {
        display: none;
        position: absolute;
        top: 62px;
        right: 0px;
        height: auto;
        width: auto;
        margin: 0px;
        padding: 0px;
        background-color: rgba(47, 115, 193, 0.9);
        z-index: 1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .nav li {
        display: block;
        padding: 7px 15px;
        margin: 0px;
    }
    .nav_mobile {
        display: block;
        right: 6px;
    }
    .nav_mobile:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    .style {
        margin: 0 10px;
    }
    .pkg, .agency {
        max-width: 600px;
        margin: 0 auto;
    }
    .pkg_image {
        width: 100%;
        border-right: 0px;
        border-bottom: 3px solid #fff;
        margin-top: -63px;
    }
    .pkg_image img {
        width: inherit;
        border-bottom-left-radius: 0px
    }
    .pkg_desc {
        width: 100%;
        margin-left: 0;
        display: inline-block
    }
    .pkg_price {
        left: 116px;
        color: #eee;  
        text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
    }
    .pkg_book {
        top: 90px;
        right: 15px;
        font-size: 14px;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.85);
        color: #333;
    }
    .pkg_book:hover {
        color: #fff;
        -moz-box-shadow:    0 0 5px 1px rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
        box-shadow:         0 0 5px 1px rgba(255, 255, 255, 0.5);
    }
    span.book_arrow {
        border-left: 1px solid rgba(51, 51, 51, 0.9); 
    }
    .agents {
        max-width: 880px;
        margin-left: 15px;
    }
    .agency_map {
        max-width: 180px;
    }
    .agents_list {
        max-width: 180px;
    }
    .agency {
        margin: 20px 0;
    }
    
}

@media screen and (max-width : 400px) {
    .agency_map {
        min-width: 100%;
    }
}

@media screen and (max-width : 320px) {
    .header_wrap {
        width: 320px;
    }
}

@media screen and (min-width : 1170px) {
    .header, .welcome, .container-fluid {
        width: 1170px;
        margin: 0 auto;
    }
}