@charset "UTF-8";
/* CSS Document 
Author Name: John Nguyen
Creation Date: November 4th, 2014
Course: OOSD Fall 2014
Description: A default stylesheet for the Travel Experts website, the first threaded project for the course with a focus on HTML, CSS, JavaScript, PHP & MySQL.
*/

html,body {
    height: 100%;
    margin: 0px;
    background-color: #fff;
}
html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	font-size: 14px;
	font-weight: 400;
    font-family: 'Open Sans', sans-serif;
	line-height: 1.429em; <!--- Equal to 20px -->
	color: #939393;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ek Mukta', sans-serif;
	margin: 0;
    font-weight: 500;
	color: #3d3d3d;
}
a, a:hover, a:focus {
	text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
:focus, :active {
	outline: none !important;
}
.header_wrap {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: rgba(47, 115, 193, 0.9);
    z-index: 1;
    border-top: 5px solid rgb(255,255,255);
    box-shadow: 0 12px 12px -12px rgba(0,0,0,0.6);
}
.header {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    float: left;
    padding-left: 20px;
}
.nav {
    display: inline-block;
    float: right;
    width: auto;
    padding-top: 32px;
    padding-right: 20px;
    text-align: right;
}
.nav ul {
    display: inline-block;
    padding: 0;
}
.nav li {
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
    font-size: 1.2em;
    font-weight: 500;
    background-color: rgba(47, 115, 193, 0);
    color: #fff;
    border-radius: 3px;
}
.nav li:hover {
    background-color: #fff;
    color: rgb(47, 115, 193);
}
.nav_mobile {
    display: none;
    position: absolute;
    right: 18px;
    top: 10px;
    color: #fff;
}
.slider {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    z-index: -100;
    box-shadow: inset 0 -14px 14px -14px rgb(0, 0, 0);
}
.welcome h1 {
    position: relative;
    top: 210px;
    left: 22px;
    color: rgba(255, 255, 255, 0.95);
    font-size: 40px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.help {
    position: absolute;
    right: 10px;
    top: 256px;
    width: 41px;
    height: 24px;
    background-color: #fff;
    text-align: center;
    padding-top: 4px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 0 -6px 6px 0 rgba(0, 0, 0, 0.3);
}
.img-responsive {
    width: 100%;
}
#body {
    margin: 20px 0;
    display: block;
}
.style {
    border: 1px solid #ccc;
    background-color: rgba(95, 118, 149, 0.1);
    box-shadow: 2px 2px 2px -2px rgba(0,0,0,0.6);
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0;
}
#footer {
    clear: both;
    display: block;
    text-align: center;
    height: 110px;
    width: 100%;
    color: #f4f4f4;
    background-color: rgb(108, 108, 108);
    border-top: 7px solid rgb(47, 115, 193);
}
.email {
    background-color: rgba(47, 115, 193,1); 
    padding: 15px;
    color: #fff;
    text-align: left;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #aaa;
    background-image: -webkit-linear-gradient(left, #ddd, #aaa, #ddd); 
    background-image:    -moz-linear-gradient(left, #ddd, #aaa, #ddd); 
    background-image:     -ms-linear-gradient(left, #ddd, #aaa, #ddd); 
    background-image:      -o-linear-gradient(left, #ddd, #aaa, #ddd); 
}
a.help:hover {
    color: rgba(47, 115, 193, 1);
}
a.top {
    color: #000;
    position: fixed;
    bottom: 1em;
    right: 1em;
    margin: 0;
    padding: 0.8em;
    opacity: 0.7;
    border-radius: 5px;
}
a.top:hover {
    color: #ccc;
    background-color: #222;
}


/* Registration Page */
p.label {
    padding: 10px;
}

