@charset "UTF-8";
/* CSS Document 
Author Name: John Nguyen
Creation Date: November 4th, 2014
Course: OOSD Fall 2014
Description: A default stylesheet for the Travel Experts website, the first threaded project for the course with a focus on HTML, CSS, JavaScript, PHP & MySQL.
*/

a, :hover {
    -webkit-transition: background-color 0.1s ease-in-out; 
    -moz-transition: background-color 0.1s ease-in-out; 
    -ms-transition: background-color 0.1s ease-in-out; 
    -o-transition: background-color 0.1s ease-in-out; 
    transition: background-color 0.1s ease-in-out;}
