@charset "UTF-8";
/* CSS Document 
Author Name: John Nguyen
Creation Date: November 4th, 2014
Course: OOSD Fall 2014
Description: A default stylesheet for the Travel Experts website, the first threaded project for the course with a focus on HTML, CSS, JavaScript, PHP & MySQL.
*/

html,body {
    height: 100%;
}
html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	font-size: 14px;
	font-weight: 400;
    font-family: 'Maven Pro', sans-serif;
	line-height: 1.429em; <!--- Equal to 20px -->
	color: #939393;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Magra', sans-serif;
	margin: 0;
	color: #3d3d3d;
}
a, a:hover, a:focus {  <!--- Check this --->
	text-decoration: none;
	color: #000;
}
:focus, :active {
	outline: none !important;
}

.container {
    min-height: 100%;
}

